html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}

.body {
  background-color:#fefdfa;
  display: grid;
}

.navigation {
  position: fixed;
  top: 0;
  margin: 10px;
  justify-self: end;
  grid-template-rows: 100%;
  position: sticky;
  border: 1px solid lawngreen;
  z-index: 99;
}

.navbar-toggler-icon {
  width: 50px !important;
  height: 50px !important;
}

.navigation .navbar-collapse {
  background-color: #fefdfa;
  
}

.navigation .nav-item {
  color: lawngreen;
}

.hello {
  grid-template-columns: 50% 50%;
  margin-top: 50px;
  margin-right: 80px;
}

.hello h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 8em;
  padding: 12px;
  margin-top: 25px;
  margin-left: 15px;
  letter-spacing: 3px;
}

.about {
  border: 2px solid  lawngreen;
  /*background-color: #ddffba;*/
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 5em;
  padding: 5em;
  padding-bottom: 3em;
  margin-left: 60px;
  margin-right: 60px;
}

.about-1 {
  padding: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
 /* background-color: rgba(255, 228, 153, 0.8);*/
  color: #b8b8b8;
  text-align: right;
}

.about-2 {
  padding: 12px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
 /* background-color: rgba(255, 228, 153, 0.8); */
  color: #b8b8b8;
  text-align: left;
}


.projects {
  margin-top: 10em;
}

.projects h3 {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-size: 4em;
  color:lawngreen;
}

.projects .funthings {
  padding: 3em;
}

.funthings .card {
  margin: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);

}

.funthings .card img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.contact {
  text-align: center;
}

.contact h4 {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-size: 2em;
  color: lawngreen;
}

.contact p {
  color: lawngreen;
  text-align: center;
}

.contact .booking-form {
 text-align: center;
 display: inline-block;
 
}

.booking-form #name {
  width: 400px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid  lawngreen;
  background-color: transparent;
}

.booking-form #email {
  width: 400px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid lawngreen;
  background-color: transparent;
}

.booking-form #talk-to-me {
  text-align: top;
  height: 150px;
  width: 400px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid lawngreen;
  background-color: transparent;
}

.booking-form #how {
  height: 150px;
  width: 400px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid  lawngreen;
  background-color: transparent;
}

.booking-form button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid  lawngreen;
  background-color: transparent;
  color: gray;
  cursor: pointer;
}

.g-recaptcha {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
}




/* SLIDE IN ANIMATION */

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1.5s;
}

@keyframes come-in {
  to { transform: translateY(0); }
}


